global:
  # custom proxy
  http_proxy: ""
  https_proxy: ""
  no_proxy: ""

  # helm addons
  addons:
    cni:
      enabled: true
      type: calico
      versions:
        - v3.27.3
      # type: cilium
      # versions:
      #   - 1.15.19
    ccm:
      enabled: true
      type: openstack
      versions:
        - 2.30.1
      # type: outscale
      # versions:
      #   - 0.3.0
    csi:
      enabled: true
      # type: cinder-csi
      # versions:
      #   - 2.30.0
      type: osc-bsu-csi
      versions:
        - 2.0.0

#
# openstack cloud config
#
#addons:
#  cloudConfig:
#    # used by ccm-openstack
#    cloudConf:
#      global:
#        auth-url: _REPLACE_OS_AUTH_URL/v3_
#        application-credential-id: _OS_APPLICATION_CREDENTIAL_ID_
#        application-credential-secret: _OS_APPLICATION_CREDENTIAL_SECRET_
#        region: "RegionOne"
