{{/* Common initialization */}}

{{- $clusterName := $.Values.global.clusterName }}
{{- $isMultiaz := $.Values.multiaz }}

{{/* iterate over the workers */}}
{{- range $name, $pool := $.Values.workers }}
  {{- $subregions := (include "outscale.subregionsLabels" $.Values | fromYamlArray) }}

  {{/* iterate over the subregions */}}
  {{- range $subregion := $subregions }}
    {{/* generates name according to the activation of multiaz */}}
    {{- $poolName := printf "%s%s" $name (ternary (printf "-%s" $subregion) "" $isMultiaz) }}
    {{- $mdName := printf "%s-%s%s" $clusterName $name (ternary (printf "-%s" $subregion) "" $isMultiaz) }}

    {{- $bootstrapName := printf "%s-%s" $clusterName $name }}

    {{- $computedReplicas := include "outscale.computeReplicas" (dict
      "subregion" $subregion
      "replicas" $pool.replicas
      "multiaz" $isMultiaz
    ) }}

    {{- $generatedName := include "outscale.generatedName" (dict
      "clusterName" $clusterName
      "nodeType" "worker"
      "poolName" $poolName
      "kubeVersion" $pool.version
      "imageId" $pool.image
    ) }}

{{/* generates object  */}}

---
{{- if $pool.bufferPod.enabled }}
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: low-priority
value: -1
globalDefault: false
---
apiVersion: v1
kind: Pod
metadata:
  name: temp-pod
spec:
  priorityClassName: low-priority
  securityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  containers:
  - name: stress
    image: alpine:3.20
    securityContext:
      runAsUser: 65534
      allowPrivilegeEscalation: false
      capabilities:
        drop: ["ALL"]
    command: ["sh", "-c", "while true; do :; done"]
    resources:
      requests:
        cpu: "200m"
        memory: "800Mi"
      limits:
        cpu: "200m"
        memory: "800Mi"
    {{- end }}
  {{- end }}
{{- end }}
